/* body styling */
body {
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  display: flex; /* Use Flexbox for layout */
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-image: url('background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
}

/* Main container styling */
#main-container {
  display: flex; /* Use Flexbox for layout */
  width: 80%; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

/* Styling for both the form and result sections */
#form-section, #result-section {
  flex: 1; /* Flex items occupy equal space */
  padding: 20px; 
  box-sizing: border-box; 
}

/* Specific styling for the form section */
#form-section {
  max-width: 50%; 
}

/* Specific styling for the result section */
#result-section {
  max-width: 50%; 
  padding-left: 40px; 
  border-left: 2px solid #ddd; 
}

/* Styling for forms */
form {
  display: flex; /* Use Flexbox for layout */
  flex-direction: column; 
}

/* Styling for labels */
label {
  margin-top: 10px; 
}

/* Styling for text inputs */
input[type="text"] {
  padding: 10px; 
  margin-bottom: 10px; 
}

/* Styling for radio buttons and their labels */
input[type="radio"] + label {
  display: block; 
  margin-bottom: 5px; 
}

/* Styling for buttons */
button {
  cursor: pointer; 
  padding: 10px; 
  margin-top: 10px; 
}

/* Specific styling for the clear button */
#clear {
  background-color: #ff4d4d; 
  color: white; 
  margin-top: 10px; 
}

/* Styling for prediction and saved answer sections */
#prediction, #saved-answer {
  border: 1px solid #ddd; 
  padding: 10px;
  margin-bottom: 20px; 
}
